/app/config.php
/storage/*
!/storage/.htaccess
!/storage/cache/
!/storage/logs/
!/storage/backups/
!/storage/tmp/
/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/backups/*
!/storage/backups/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/uploads/*
!/uploads/.htaccess
!/uploads/.gitkeep
.DS_Store
/node_modules/
/tests/tmp/
/*.png
